# exclude everything
/data/*
# but commit this folder 
!/data/.gitkeep


/cache/*
!/cache/.gitkeep

/outputs/*
!/outputs/.gitkeep

/outputs/*
!/outputs/.gitkeep




# others
/.ipynb_checkpoints
/__pycache__
/.DS_Store
